.contact {

    background: #232424;

    .contact-us-title {
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 85px;
            background-image: linear-gradient(to right, #08FFB8, #5799F7);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            text-decoration: none;
        }

        p {
            color: #F8F7F3;
            text-align: center;
        }
    }




    .contact-us-form-title {
        color: #DADADA;
        width: 66.6667%;
        margin: 0 auto;

        label {
            font-size: 18px;
        }

        input {
            margin-bottom: 20px;
        }

        .form-style {
            margin-top: 6px;
            padding-top: 9px;
            padding-bottom: 9px;
            padding-left: 12px;
            height: 48px;
            width: 100%;
            font-weight: 500;
            border-radius: 8px;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.5px;
            outline: none;
            color: #DADADA;
            background-color: #1E1E1E;
            border: 0;
            border-bottom: 0.77px solid black;
        }

        .form-text-area {
            min-height: 74px;
        }


        .contact-us-form-button {
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
            margin-top: 40px;
            text-align: center;

            .contact-us-form-button-border {
                button {
                    color: #030303;
                    width: 95.66px;
                    height: 41.66px;
                    border-radius: 20px;
                    border: 0px;
                    background-image: linear-gradient(35deg, #5799F7, #08FFB8);
                    box-shadow: 0px 0px 16px #3687FA;
                }
            }
        }

        .contact-us-form-button:hover {
            background: linear-gradient(180deg, #08FFB8 13.4%, #5799F7 86.6%);
            background-clip: content-box;
            border-radius: 3.125rem;

            .contact-us-form-button-border {
                border: 2px solid transparent;
                background-clip: content-box;
                background-color: #232424;
                border-radius: 3.125rem;

                button {
                    width: 91.66px;
                    height: 37.66px;
                    @include transparent_text;
                    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
                    background-image: linear-gradient(to bottom left, #08FFB8 13.4%, #5799F7 86.6%);
                    text-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
                }
            }
        }

        .contact-us-form-button:active {
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
            text-align: center;
            background: transparent;


            .contact-us-form-button-border {
                border: 0px solid transparent;
                background-color: transparent;
                border-radius: 3.125rem;

                button {
                    -webkit-background-clip: border-box;
                    background-clip: border-box;
                    text-decoration: none;
                    width: 95.66px;
                    height: 41.66px;
                    border-radius: 20px;
                    border: 0px;
                    color: #030303;
                    background-image: linear-gradient(35deg, #5799F7, #08FFB8);
                    mix-blend-mode: plus-lighter;
                    box-shadow: 0px 0px 16px #3687FA;
                }
            }
        }
    }









    .contact-us-succeeded {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh; //eliminar

        h2 {
            color: #F8F7F3
        }
    }

    .center-content {
        text-align: center;

        img {
            margin-top: 30px;
        }
    }

}