 @font-face {
     font-family: 'CabinetGrotesk-Bold';
     src: url('../assets/fonts/CabinetGrotesk-Bold.woff2') format('woff2'),
         url('../assets/fonts/CabinetGrotesk-Bold.woff') format('woff'),
         url('../assets/fonts/CabinetGrotesk-Bold.ttf') format('truetype');
     font-display: swap;
 }