 .ElementTop {
     @include rowJB;




     .home-Page-Intro {
         width: 503px !important;
         margin-left: 105px !important;
         margin-top: 183px !important;
         font-family: 'CabinetGrotesk-Regular', sans-serif;

         h1 {
             background: linear-gradient(261deg, #5799F7 24.47%, #08FFB8 85.78%);
             background-clip: text;
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;

             font-size: 5.3125rem;
             font-style: normal;
             font-weight: 700;

             line-height: 100%;
             width: fit-content;
             min-height: 181px;

             span {
                 letter-spacing: -0.39844rem;
                 font-weight: 800;
                 font-family: 'CabinetGrotesk-Bold', sans-serif;
             }
         }



         p {
             color: #F8F7F3;
             font-family: 'CabinetGrotesk-Thin', sans-serif;
             margin-top: 46px;
             margin-bottom: 209px;
             font-size: 2.1875rem;
             font-weight: 300;
         }
     }

     .home-Page-Intro-Article {
         @include columnJA;
         background: rgba(30, 30, 30, 0.26);
         align-items: center;
         width: 664px;
         height: 377px;
         box-shadow: -8px 4px 34px 0px rgba(0, 0, 0, 0.25);
         border-top-left-radius: 50px;
         border-bottom-left-radius: 50px;
         margin-top: 143px;




         article {
             color: #F8F7F3;
             font-size: 2.1875rem;
             font-family: 'CabinetGrotesk-Thin', sans-serif;
             font-size: 35px;
             font-style: normal;
             font-weight: 300;
             width: 565px;
             line-height: 140%;
             margin-top: 46px;
             margin-left: 70px;
             margin-right: 29px;
             margin-bottom: 35px;
         }


         .article-button {
             width: fit-content;
             height: fit-content;
             background-clip: content-box;
             border-radius: 3.125rem;
             font-family: 'CabinetGrotesk-Bold';
             font-weight: 700;
             line-height: 100%;
             background: linear-gradient(180deg, #08FFB8 13.4%, #5799F7 86.6%);
             box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
             margin-bottom: 46px;

             &:hover {
                 width: fit-content;
                 height: fit-content;
                 background: linear-gradient(180deg, #08FFB8 13.4%, #5799F7 86.6%);
                 background-clip: content-box;
                 border-radius: 3.125rem;
                 font-family: 'CabinetGrotesk-Bold';
                 font-weight: 700;
                 line-height: 100%;
             }

             &:active {
                 background: transparent;
             }

             .article-button-border {
                 background-clip: content-box;
                 border-radius: 3.125rem;
                 border: 0px solid transparent;
                 background-color: transparent;

                 &:hover {
                     border: 2px solid transparent;
                     background-clip: content-box;
                     background-color: #646464;
                     border-radius: 3.125rem;

                 }

                 &:active {
                     border: 0px solid transparent;
                 }

                 button {
                     @include transparent_text;
                     display: flex;
                     padding: 0.9375rem 1.5625rem;
                     justify-content: center;
                     align-items: center;
                     border-radius: 3.125rem;
                     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                     background-color: transparent;
                     background-image: linear-gradient(to bottom left, #08FFB8 13.4%, #5799F7 86.6%);
                     font-weight: bold;

                     color: #030303;
                     font-size: 24px;
                     border: 4px solid transparent;

                     &:hover {
                         @include transparent_text;
                         display: flex;
                         font-size: 24px;
                         padding: 0.9375rem 1.5625rem;
                         justify-content: center;
                         align-items: center;
                         border-radius: 3.125rem;
                         border: 2px solid transparent;
                         box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                         background-color: transparent;
                         background-image: linear-gradient(to bottom left, #08FFB8 13.4%, #5799F7 86.6%);
                         font-weight: bold;
                     }

                     &:active {
                         -webkit-background-clip: border-box;
                         background-clip: border-box;
                         color: #030303;
                         border: 4px solid transparent;
                         background: var(--Light-Blue, #5699F7);
                     }
                 }
             }
         }
     }
 }