.firstBlock {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.home-Page-Intro {
    margin-left: 10%;
    width: 20vw;
}

.home-h1 {
    font-size: 85px;
    background-image: linear-gradient(20deg, #08FFB8 -30%, #5799F7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;

}

.Home-Article {
    width: 25vw;
    height: 25vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.Home-Article-Button {
    background-image: linear-gradient(20deg, #08FFB8 -30%, #5799F7);
    border: none;
    width: 50%;
    border-radius: 30px;

}

.HomePage {
    background-image: linear-gradient(40deg, #4A4C4D 0%, #4A4C4D 100%);
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

}