.HomePage {
    background-image: linear-gradient(40deg, #4A4C4D 0%, #4A4C4D 100%);
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

}