$gradient: linear-gradient(20deg, #08FFB8 -30%, #5799F7);
$second_gradient: linear-gradient(248deg, rgba(74, 76, 77, 0.00) 0%, #4A4C4D 98.54%);

@mixin transparent_text {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
}