$gradient: linear-gradient(20deg, #08FFB8 -30%, #5799F7);
$second_gradient: linear-gradient(67deg, #000 0%, rgba(28, 29, 29, 0.89) 41%, rgba(37, 38, 38, 0.85) 69.82%, rgba(60, 62, 62, 0.76) 99.16%);

@mixin transparent_text {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
}

body {
    background-image: $second_gradient;
}