$gradient: linear-gradient(20deg, #08FFB8 -30%, #5799F7);

$second_gradient: linear-gradient(40deg, #4A4C4D 1%, #4A4C4D 100%);

$aboutUs_gradient: linear-gradient(210deg, #08FFB8 13.4%, #5799F7 86.6%);

@mixin transparent_text {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
}